---
title: Azure Light Stemcell Activation
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic discusses how to activate the Azure Light Stemcell. “Light” stemcells are metadata files used on public IaaSes that enable users to reference and deploy a stemcell without uploading it manually. The actual stemcell lives on the cloud storage service of the IaaS, and the BOSH director instantiates the VMs.

Download the Azure Light Stemcell for Windows2012R2 from <a href="https://network.pivotal.io/products/stemcells-windows-server">PivNet</a>

To use the Azure light stemcell, you must first accept the corresponding license agreement and enable it for your non-trial Azure subscription through the Azure marketplace:

1. Navigate to https://portal.azure.com and sign in.
1. From the options on the left side of the page, click ** + New**.
1. Search for **BOSH Azure Windows Stemcell** in the **Search the Marketplace** field.
1. Select **BOSH Azure Windows Stemcell** from your search results.
1. A description of the BOSH Azure Windows Stemcell appears. Beneath the description, at the bottom of the page, click the blue banner that reads: **Want to deploy programmatically? Get started ➔**.
1. Review the Offer details and Terms of use.
1. Under **Choose the subscriptions**, click **Enable** for each Azure subscription you want to use.
1. Click **Save**.



